<% if flash[:danger] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:danger] %>
  </div>
<% end %>

<% flash[:danger] = nil %>




<div class="jumbotron jumbotron-fluid  pt-3 pb-4 m-12" >
  <h1 class="display-4 ml-3 mb-4">Event<span class="text-info">brite</span>lite </h1>
  <p class="lead ml-3 my-4"></p>
</div>

<div class="jumbotron jumbotron-fluid bg-white pt-3 pb-4 d-flex flex-column align-items-center" >
  <p "></p>
  <p><%= link_to "Create a event", new_event_path, :type => "button",  :class => 'btn btn-light ml-3' %></p>
</div>

<div class="d-flex flex-wrap justify-content-around">
  <% Event.all.each do |event|%>

<div class="card border-info mb-2" style="max-width: 14rem;">


 
    <div class="card-body">
      <h5 class="card-title" style="min-height: 25px;""><%= event.title %></h5>
      <h6 class="card-subtitle text-muted mb-2">Event n°<%= Event.all.index(event) + 1 %></h6>
      <p class="card-text"><%= event.description %></p>
    </div>
    <ul class="list-group list-group-flush ">
      <li class="list-group-item">Date : <%= event.start_date.strftime("%d/%m/%Y, %H:%M") %></li>
      <li class="list-group-item">Duration : <%= event.duration %> mins</li>
      <li class="list-group-item">Price : <%= event.price %> €</li>
      <li class="list-group-item">Location : <%= event.location %> </li>
    </ul>
    <div class="d-flex justify-content-start py-2 pl-3">
      <div class="btn-group">
        <%= link_to 'Display', event_path(event), :class => "card-link btn btn-sm btn-outline-info" %>
      </div>
    </div>
  </div>

  <% end %>
</div>
