<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>

<% flash[:success] = nil %>

<h2 class="display-7 ml-5 mt-4 mb-5"><span class="text-info">Event</span></h2>

<h2 class="font-weight-bold ml-5 my-4"><%= @event.title %></h2>

<p class="lead ml-5">
 <span class="text-muted"> Description :</span> <span class= "font-weight-normal"><%= @event.description %></span><br />
 <span class="text-muted"> Start date : </span><span class="text-monospace text-muted"><%= @event.start_date.strftime("%d/%m/%Y, %H:%M") %></span><br />
  <span class="text-muted">End date : </span><span class="text-monospace text-muted"><%= (@event.start_date + @event.duration.minutes).strftime("%d/%m/%Y, %H:%M") %></span><br />
  <span class="text-muted">Duration : </span><span class="text-monospace"><%= @event.duration %></span> mins<br />
  <span class="text-muted">Location : </span><span class="text-monospace"><%= @event.location %></span><br />
  <span class="text-muted">Price : </span><span class="text-monospace"><%= @event.price %> €</span>
</p>

<p class="lead ml-5">
  There are <span class="text-monospace"><%= @event.attendances.count %></span> participant(s).
</p>

<p class="lead ml-5">
  <span class="font-italic">The event is held by : </span> <%= @event.attendances[0].user.first_name %> <%= @event.attendances[0].user.last_name %>.
</p>
